
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:#490018;
    color: #ffffff;
}

/* Header */
header {
    display: flex;                 
    justify-content: space-between; 
    align-items: center;            
    padding: 20px 40px;
    background-color: #490018;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                   
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(247, 246, 246, 0.1);
}
.hero { height: 95vh; 
    background: url("backdrop.jpg") no-repeat center/cover; 
    display: flex; 
    align-items: center; 
    padding-left: 60px; 
    color: rgb(255, 255, 255);

} 
 .hero-text h1 { font-size: 60px;
     margin-bottom: 10px; } 
     .hero-text p { font-size: 20px; 
        margin-bottom: 20px; } 
        .btn { padding: 12px 30px; 
            background-color: #4f0129; 
            border: none;
             border-radius: 25px;
              font-size: 18px; 
              cursor: pointer;
               transition: 0.3s;
             } 
             .btn:hover {
                 background-color: hsl(324, 91%, 22%); 
                transform: scale(1.05);
             }
body {
    margin: 0;
    padding-top: 120px;}

  header .logo img {
    height: 80px;
    width: auto;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s;
}

nav a:hover {
    color: #ad6464;
}
.active{
  color:rgb(245, 246, 202);
  
}

/* Menu Section */
.menu {
    padding: 70px 20px;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.item img {
    width: 100%;
    border-radius: 12px;
}

.item:hover {
    transform: scale(1.07);
}

/* Specials */
.specials {
    padding: 70px 20px;
    background-color: #8a002e;
    text-align: center;
}

.specials h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.special-box {
    background-color: rgb(96, 0, 47);
    margin: 15px auto;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.special-box:hover {
    transform: scale(1.03);
}

/* Footer */
.contact {
    background-color: #000000;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.credit {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}

/* Social media section */
.social-media {
    text-align: center;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Each icon styling */
.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #84034f;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-link:hover {
    color: #000000;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgb(255, 255, 255);
}
.order-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.3s;
}

.order-btn:hover {
    background-color: #000000;
    transform: scale(1.05);
}
header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: #490018;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-name {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

